Source/WebApp/WebApp.Gui/bin/Debug/net6.0/appsettings.json
Source/WebApp/WebApp.Gui/bin/Debug/net6.0/appsettings.json
Source/WebApp/WebApp.Gui/node_modules

Source/WebApp/WebApp.Gui/obj
Source/WebApp/WebApp.Gui/bin

Source/Infrastructure/Infrastructure.Persistence/bin
Source/Infrastructure/Infrastructure.Persistence/obj

Source/Infrastructure/Infrastructure.Shared/bin
Source/Infrastructure/Infrastructure.Shared/obj

Source/Core/Core.Application/bin
Source/Core/Core.Application/obj

Source/Core/Core.Domain/bin
Source/Core/Core.Domain/obj