@using Core.Application;
@model List<UserViewModel>
@{
  ViewData["Title"] = "Home Page";
}

<div>
  <h1 class="text-xl font-bold">User List</h1>

  <div>
    @foreach (var item in Model)
    {
      <div class="">
        <h4>@item.Name</h4>
        <p>@item.UserName</p>
        <p>@item.About</p>
      </div>
    }
  </div>
</div>