@using Core.Application;
@model List<UserViewModel>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
  <h1>User List</h1>

  <div>
    @foreach (var item in Model)
    {
      <div class="border border-1 border-danger p-2 m-2 w-50">
        <h4>@item.Name</h4>
        <p>@item.UserName</p>
        <p>@item.About</p>
      </div>
    }
  </div>
</div>