@{
  ViewData["Title"] = "Register success";
}

<div class="bg-green-500 flex items-stretch justify-start mx-auto w-full">

  <!-- REGISTER COMPELTED -->
  <div class="flex mx-auto w-full h-screen text-center justify-center items-center">
    <div class="flex flex-col items-center bg-white p-5 rounded animate-fade-down">
      <i
        class="ri-check-line text-7xl border-4 rounded-full w-fit text-green-500 border-green-500 font-bold">
      </i>
      <p class="text-2xl mt-5 font-bold">¡Bienvenido!</p>
      <p class="text-xl text-gray-600">Tu Registro ha sido completado con exito.</p>

      <a asp-controller="Home" asp-action="Index" class="mt-9 bg-green-500 border-gray-400 px-9 py-1 rounded hover:animate-jump">
        <i
          class="ri-arrow-right-line text-3xl text-white font-bold">
        </i>
      </a>
    </div>
  </div>

</div>

<script >
  
</script>