@model Core.Application.ViewModels.Post.SavePostViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Core.Application.SessionHelper;
@using Core.Application
@inject IHttpContextAccessor iHttpContext;
@{
  var userSession = iHttpContext?.HttpContext?.Session.Get<UserProfileViewModel>("userProfile");
}
@{
  ViewData["Title"] = "Create a post";
}

<div
  class="flex items-stretch justify-start mt-2 mx-auto min-[1350px]:w-10/12 min-[1800px]:w-8/12 max-[1350px]:w-full animate-fade">

<!-- CENTRAL CONTENT -->
<div class="w-full min-[950px]:w-100 min-[600px]:ms-5 min-[600px]:mb-5 min-[950px]:pl-0">
  <!-- Create a post section -->
  <div class="flex justify-start items-center w-full mb-5">
    <div class="w-full mx-auto p-4">

      <div class="flex justify-between items-center p-5 border-b border-white mb-5">
        <h4 class="text-xl">Create Post</h4>
        <a href="#" class="text-sm text-blue-600">Drafts <span class="text-gray-600">0</span></a>
      </div>

      <div class="flex mb-5">
        <div class="bg-white p-1 flex justify-between items-center w-full min-[1400px]:w-1/3 rounded-sm">
          <span
            class="p-1 bg-blue-500 text-white rounded-full mr-2 h-6 w-6 flex justify-center items-center text-center">
            A
          </span>
          <div class="flex p-1 justify-between w-full">
            <p>Choose a community</p>
            <span>
              <i class="ri-arrow-down-s-line"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="bg-white flex flex-col justify-evenly items-center w-full mx-auto min-[600px]:rounded-md">
        <div class="w-full flex justify-start items-center">
          <div class="flex-1 p-3 border bg-blue-100 hover:cursor-pointer"
               id="postButton">
            <a href="#" class="text-blue-600 text-md font-bold"><i class="ri-article-line"></i> Post</a>
          </div>
          <div class="flex-1 p-3 border border-t-0 hover:cursor-pointer" id="imgPostButton">
            <a href="#" class="text-blue-600 text-md">
              <i class="ri-file-image-line"></i>
              <span
                class="min-[500px]:hidden inline">
                Img
              </span>
              <span
                class="hidden min-[500px]:inline">
                Image
              </span>
            </a>
          </div>
          <div class="flex-1 p-3 border border-t-0 hover:cursor-pointer bg-gray-200" id="postLinkButton">
            <a href="#" class="text-gray-600 text-md"><i class="ri-link"></i> Link</a>
          </div>
          <div class="flex-1 p-3 border border-t-0 hover:cursor-pointer">
            <a href="#" class="text-gray-400 text-md"><i class="ri-menu-2-line"></i> Poll</a>
          </div>
        </div>

        <form method="POST" asp-controller="Post" asp-action="Send" id="postForm" enctype="multipart/form-data" class="w-full">
          <!-- This is for the UserId -->
          <input type="hidden" asp-for="UserId" value="@userSession.Id">
          <!-- TITLE AND DESCRIPTION -->
          <div class="w-full">
            <div class="px-5 pt-5 mb-2">
              <input asp-for="Title" type="text" class="font-light border-2 w-full p-2 rounded-sm" placeholder="Title">
            </div>
            <div class="px-5" id="postDescription">
              <div class="bg-gray-200">
                <a href="#" class="text-xl mx-4">A</a>
                <a href="#" class="text-xl mx-4">B</a>
                <a href="#" class="text-xl mx-4">C</a>
                <a href="#" class="text-xl mx-4">D</a>
              </div>
              <textarea cols="30" rows="10" name="Description"
                            class="border-2 w-full p-2 rounded-sm resize-none font-light"
                            placeholder="Text-optional"></textarea>
            </div>
            <!-- INSERT IMAGE -->
            <div class="px-5 w-full p-5 hidden" id="imgPostContainer">
              <label for="ImageFile"
                     class="hover:cursor-pointer text-blue-600 border-blue-600 px-4 py-2 border-2 rounded-full ml-1 font-bold">
                Add Image
              </label>
              <input type="file" class="hidden" asp-for="ImageFile" id="ImageFile" onchange="previewImage(this)"/>
              <div class="mt-5 min-[500px]:pl-10 mx-auto flex flex-wrap justify-center min-[500px]:justify-start items-start"
                   id="imgPreviewContainer">
              </div>
            </div>
            <!-- INSERT IMAGE -->
          </div>
          <!-- TITLE AND DESCRIPTION -->
          <div class="w-full flex mb-5 border-b border-gray-300 pb-4">
            <div class="pl-5 mt-4">
              <a href="#" class="text-base px-4 py-2 border border-gray-400 rounded-full text-gray-400">
                <i
                  class="ri-add-line text-xl">
                </i>
                OC
              </a>
            </div>
            <div class="ml-2 mt-4">
              <a href="#" class="text-base px-4 py-2 border border-gray-400 rounded-full text-gray-400">
                <i
                  class="ri-add-line text-xl">
                </i>
                Spoiler
              </a>
            </div>
            <div class="ml-2 mt-4">
              <a href="#" class="text-base px-4 py-2 border border-gray-400 rounded-full text-gray-400">
                <i
                  class="ri-add-line text-xl">
                </i>
                NSFW
              </a>
            </div>
          </div>
        </form>

        <div class="w-full px-5 pb-4">
          <div class="flex justify-end items-center">
            <button href="#" class="text-blue-600 border border-blue-600 rounded-full px-4 py-2">Save draft</button>
            <button type="submit" href="#" class="text-white bg-blue-600 rounded-full px-4 py-2 ml-1" onclick="sendForm()">Post</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Create a post section -->
</div>

<!-- RIGHT SIDE CONTENT -->
<div class="w-96 sticky max-[750px]:hidden min-[1150px]:flex justify-center self-stretch">
  <div class="w-fit mr-5 top-0 sticky">

    <!-- TRY SOCIAL NETWORK PREMIUM -->
    <div class="bg-white rounded-sm p-5 flex flex-col">
      <div class="flex justify-between">
        <i class="ri-service-line text-2xl font-bold"></i>
        <div class="flex flex-col justify-around text-sm ms-2">
          <p class="text-gray-500 font-bold">Social Network Premium</p>
          <span class="text-gray-600">The best Social Network Experience.</span>
        </div>
      </div>
      <div class="w-full text-center mt-2 flex">
        <a href="#" class="p-1 bg-orange-500 text-white rounded-xl w-full">Try it now!</a>
      </div>
    </div>
    <!-- TRY SOCIAL NETWORK PREMIUM -->

    <!-- PERSONAL INTERESTS -->
    <div
      class="bg-white rounded-sm pt-5 mt-5 bg-[url('https://w0.peakpx.com/wallpaper/106/1007/HD-wallpaper-artistic-pixel-art.jpg')]">
      <div class="bg-white mt-5 p-2">
        <!-- <div><img src="https://w0.peakpx.com/wallpaper/106/1007/HD-wallpaper-artistic-pixel-art.jpg"
                       class="cotain w-full" alt=""></div> -->
        <div class="flex items-center">
          <img src="" alt="pfp" class="w-12 rounded-md mr-2 mt-2 mb-2">
          <span>UserName</span>
        </div>
        <div class="border-b-2">
          <p class="text-sm text-gray-500">
            Your personal Social Network frontpage. Come here to check in with your
            favorite
            communities.
          </p>
        </div>
        <div class="flex flex-col justify-around items-center">
          <a href="#" class="p-1 mt-2 rounded-md bg-blue-500 text-white w-4/5 text-center">Create a post</a>
          <a href="#"
             class="border border-blue-500 p-1 mt-2 rounded-md bg-transparent text-blue-500 w-4/5 text-center mb-2">
            Create
            Comunnity
          </a>
        </div>
      </div>
    </div>
    <!-- PERSONAL INTERESTS -->

    <!-- RIGHTS AND USER'S AGREEMNTS -->
    <div class="bg-white rounded-sm mt-5 top-14 sticky">
      <div class="flex justify-between w-72 mx-auto p-2 border-b-2">
        <div class="text-xs flex flex-col justify-between">
          <a href="#">User agreement</a>
          <a href="#" class="">Privacy Policy</a>
        </div>
        <div class="text-xs ms-2 flex flex-col justify-between h-12">
          <a href="#">Content Policy</a>
          <a href="#">Moderator Code of Conduct</a>
        </div>
      </div>
      <div class="flex justify-between w-72 mx-auto p-2 border-b-2">
        <div class="text-xs flex flex-col justify-between">
          <a href="#">English</a>
          <a href="#" class="">Mario bros</a>
        </div>
        <div class="text-xs ms-2 flex flex-col justify-between h-12">
          <a href="#">Spanish</a>
          <a href="#">Brutalis</a>
        </div>
      </div>
      <div class="flex justify-between w-72 mx-auto p-2">
        <span class="text-gray-500 text-xs">Andelson Lopez, practice website all Design rights to Reddit Inc.</span>
      </div>
    </div>
    <!-- RIGHTS AND USER"S AGREEMNTS -->

  </div>
</div>
</div>

<script src="~/js/postFunctions.js"></script>

<script>
  function sendForm() {
    var form = document.getElementById('postForm');
    form.submit();
  }
</script>

<script>
  function previewImage(input) {
    const imgPreviewContainer = document.getElementById('imgPreviewContainer');
    const file = input.files[0];

    if (file) {
      const reader = new FileReader();

      reader.onload = function (e) {
        const imgElement = document.createElement('img');
        imgElement.src = e.target.result;
        imgElement.alt = 'Uploaded Image';
        imgElement.classList.add('min-[400px]:w-48', 'flex-1', 'w-full', 'max-h-full', 'mr-2', 'mb-2', 'p-2', 'border');

        // Limpiar el contenedor de vistas previas antes de agregar una nueva imagen
        imgPreviewContainer.innerHTML = '';
        imgPreviewContainer.appendChild(imgElement);
      };

      reader.readAsDataURL(file);
    }
  }
</script>