@model Core.Application.ViewModels.Post.SavePostViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Core.Application.SessionHelper;
@using Core.Application
@inject IHttpContextAccessor iHttpContext;
@{
  var userSession = iHttpContext?.HttpContext?.Session.Get<UserProfileViewModel>("userProfile");
}
@{
  ViewData["Title"] = "Create a post";
}

<div
  class="flex items-stretch justify-start min-[1200px]:px-24 mt-2 mx-auto min-[1350px]:w-10/12 min-[1800px]:w-8/12 max-[1350px]:w-full animate-fade">

<!-- CENTRAL CONTENT -->
<div class="w-full min-[950px]:w-100 min-[600px]:ms-5 min-[600px]:mb-5 min-[950px]:pl-0">
  <!-- Create a post section -->
  <div class="flex justify-start items-center w-full mb-5">
    <div class="w-full mx-auto min-[600px]:p-4">

      <div class="flex justify-between items-center p-5 border-b border-white mb-5">
        <h4 class="text-xl">Create Post</h4>
        <a href="#" class="text-sm text-blue-600">Drafts <span class="text-gray-600">0</span></a>
      </div>

      <div class="flex mb-5">
        <div class="bg-white p-1 flex justify-between items-center w-full min-[1400px]:w-1/3 rounded-sm">
          <span
            class="p-1 bg-blue-500 text-white rounded-full mr-2 h-6 w-6 flex justify-center items-center text-center">
            A
          </span>
          <div class="flex p-1 justify-between w-full">
            <p>Choose a community</p>
            <span>
              <i class="ri-arrow-down-s-line"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="bg-white flex flex-col justify-evenly items-center w-full mx-auto min-[600px]:rounded-md">
        <div class="w-full flex justify-start items-center">
          <div class="flex-1 p-3 border bg-blue-100 hover:cursor-pointer"
               id="postButton">
            <a href="#" class="text-blue-600 text-md font-bold"><i class="ri-article-line"></i> Post</a>
          </div>
          <div class="flex-1 p-3 border border-t-0 hover:cursor-pointer" id="imgPostButton">
            <a href="#" class="text-blue-600 text-md">
              <i class="ri-file-image-line"></i>
              <span
                class="min-[500px]:hidden inline">
                Img
              </span>
              <span
                class="hidden min-[500px]:inline">
                Image
              </span>
            </a>
          </div>
          <div class="flex-1 p-3 border border-t-0 hover:cursor-pointer bg-gray-200" id="postLinkButton">
            <a href="#" class="text-gray-600 text-md"><i class="ri-link"></i> Link</a>
          </div>
          <div class="flex-1 p-3 border border-t-0 hover:cursor-pointer">
            <a href="#" class="text-gray-400 text-md"><i class="ri-menu-2-line"></i> Poll</a>
          </div>
        </div>

        <form method="POST" asp-controller="Post" asp-action="Send" id="postForm" enctype="multipart/form-data" class="w-full">
          <!-- This is for the UserId -->
          <input type="hidden" asp-for="UserId" value="@userSession.Id">
          <!-- TITLE AND DESCRIPTION -->
          <div class="w-full">
            <div class="px-5 pt-5 mb-2">
              <input asp-for="Title" type="text" class="font-light border-2 w-full p-2 rounded-sm" placeholder="Title">
            </div>
            <div class="px-5" id="postDescription">
              <div class="bg-gray-200">
                <a href="#" class="text-xl mx-4">A</a>
                <a href="#" class="text-xl mx-4">B</a>
                <a href="#" class="text-xl mx-4">C</a>
                <a href="#" class="text-xl mx-4">D</a>
              </div>
              <textarea cols="30" rows="10" name="Description"
                            class="border-2 w-full p-2 rounded-sm resize-none font-light"
                            placeholder="Text-optional"></textarea>
            </div>
            <!-- INSERT IMAGE -->
            <div class="px-5 w-full p-5 hidden" id="imgPostContainer">
              <label for="ImageFile"
                     class="hover:cursor-pointer text-blue-600 border-blue-600 px-4 py-2 border-2 rounded-full ml-1 font-bold">
                Add Image
              </label>
              <input type="file" class="hidden" asp-for="ImageFile" id="ImageFile" onchange="previewImage(this)"/>
              <div class="mt-5 min-[500px]:pl-10 mx-auto flex flex-wrap justify-center min-[500px]:justify-start items-start"
                   id="imgPreviewContainer">
              </div>
            </div>
            <!-- INSERT IMAGE -->
          </div>
          <!-- TITLE AND DESCRIPTION -->
          <div class="w-full flex mb-5 border-b border-gray-300 pb-4">
            <div class="pl-5 mt-4">
              <a href="#" class="text-base px-4 py-2 border border-gray-400 rounded-full text-gray-400">
                <i
                  class="ri-add-line text-xl">
                </i>
                OC
              </a>
            </div>
            <div class="ml-2 mt-4">
              <a href="#" class="text-base px-4 py-2 border border-gray-400 rounded-full text-gray-400">
                <i
                  class="ri-add-line text-xl">
                </i>
                Spoiler
              </a>
            </div>
            <div class="ml-2 mt-4">
              <a href="#" class="text-base px-4 py-2 border border-gray-400 rounded-full text-gray-400">
                <i
                  class="ri-add-line text-xl">
                </i>
                NSFW
              </a>
            </div>
          </div>
        </form>

        <div class="w-full px-5 pb-4">
          <div class="flex justify-end items-center">
            <button href="#" class="text-blue-600 border border-blue-600 rounded-full px-4 py-2">Save draft</button>
            <button type="submit" href="#" class="text-white bg-blue-600 rounded-full px-4 py-2 ml-1" onclick="sendForm()">Post</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Create a post section -->
</div>

<!-- RIGHT SIDE CONTENT -->
<div class="w-96 sticky max-[950px]:hidden min-[1150px]:flex justify-center self-stretch">
  <div class="w-fit mr-5 top-0 sticky">

    <!-- RIGHT SIDE CONTENT -->
    <div class="w-[40%] hidden min-[950px]:flex justify-start flex-1 self-stretch">
      <div class="w-full pt-4">

        <!-- User's Card -->
        <div class="w-80 pt-4 mx-auto">
          <!-- COMMUNITY -->
          <div class="rounded-md bg-white static">
            <!-- PROFILE PICTURE AND USERNAME -->
            <div class="flex flex-col w-full text-center relative">
              <!-- PROFILE BACKGROUND -->
              <div class="bg-blue-300 flex flex-col justify-end items-end h-20 px-2 py-1">
                <span class="hover:cursor-pointer text-white text-xl border border-white rounded-full px-2">+</span>
              </div>
              <img src="~/@userSession.ProfilePicturePath" alt=""
                   class="w-20 h-20 object-cover rounded-full mx-auto mb-2 absolute top-[5vh] inset-0"/>
              <p class="text-2xl font-semibold mt-14">@userSession.UserName</p>
              <span class="text-xs text-gray-600 flex justify-center items-center">
                u/@userSession.UserName
                <i class="ri-circle-fill mx-1 text-[10px]"></i>
                3yr
              </span>
              <a href="#" class="mt-3 w-4/5 bg-orange-500 text-white rounded-full p-1 mx-auto mb-5 flex items-center">
                <i class="ri-t-shirt-fill mr-12 ml-2"></i>
                <span class="text-sm">Change Avatar</span>
              </a>
            </div>
            <!-- POINST AND CAKE DAY -->
            <div class="w-full flex justify-between px-10">
              <div>
                <p class="font-medium">Karma</p>
                <div class="flex justify-center items-center">
                  <i class="ri-bubble-chart-line mr-1 text-blue-600"></i>
                  <p class="text-sm text-gray-700">3</p>
                </div>
              </div>
              <div>
                <p class="font-medium">Cake day</p>
                <div class="flex justify-center items-center">
                  <i class="ri-cake-line mr-1 text-blue-600"></i>
                  <p class="text-sm text-gray-700">May 28, 2021</p>
                </div>
              </div>
            </div>
            <!-- COMMUNITY -->
            <!-- ADD SOCIAL LINK -->
            <div class="flex mt-5 pb-5 w-full">
              <div class="w-full p-2">
                <a href="#" class="bg-gray-200 text-black text-sm px-4 py-1 rounded-full flex w-fit items-center">
                  <i class="ri-add-line text-2xl font-light"></i>
                  <span>Add Link</span>
                </a>
              </div>
            </div>
            <!-- ADD SOCIAL LINK -->
            <!-- New Post -->
            <div class="w-full pb-5">
              <div class="flex justify-center">
                <a asp-controller="Post" asp-action="Index"
                   class="w-[80%] text-center bg-blue-500 text-white px-4 py-2 font-semibold text-sm rounded-full">
                  New Post
                </a>
              </div>
            </div>
            <!-- New Post -->
            <!-- More Options -->
            <div class=" w-full">
              <div class="flex justify-end items-end px-4 pb-4">
                <a href="#" class="text-sm font-semibold text-blue-500">More Options</a>
              </div>
            </div>
            <!-- More Options -->
          </div>

        </div>
        <!-- User's Card -->

      </div>
    </div>

  </div>
</div>
</div>

<script src="~/js/postFunctions.js"></script>

<script>
  function sendForm() {
    var form = document.getElementById('postForm');
    form.submit();
  }
</script>

<script>
  function previewImage(input) {
    const imgPreviewContainer = document.getElementById('imgPreviewContainer');
    const file = input.files[0];

    if (file) {
      const reader = new FileReader();

      reader.onload = function (e) {
        const imgElement = document.createElement('img');
        imgElement.src = e.target.result;
        imgElement.alt = 'Uploaded Image';
        imgElement.classList.add('min-[400px]:w-48', 'flex-1', 'w-full', 'max-h-full', 'mr-2', 'mb-2', 'p-2', 'border');

        // Limpiar el contenedor de vistas previas antes de agregar una nueva imagen
        imgPreviewContainer.innerHTML = '';
        imgPreviewContainer.appendChild(imgElement);
      };

      reader.readAsDataURL(file);
    }
  }
</script>