@using Core.Application;
@model LoginViewModel;
@{
  ViewData["Title"] = "Log In";
}

<div class="flex items-start max-[1000px]:bg-white justify-center mx-auto min-[1000px]:w-8/12 w-full">

  <!-- LOG IN -->
  <div class="w-[600px] bg-white min-[1000px]:rounded-xl min-[1000px]:w-96 flex justify-between flex-col p-5 mt-7" id="LogIn">
    <form method="POST" asp-controller="Login" asp-action="Login">
      <div class="">
        <p class="text-2xl font-extrabold">Log In</p>
        <span class="text-gray-800 text-sm">By continuing, you agree to our User Agreement and acknowledge that you understand the Privacy Policy. </span>
      </div>
      
      <div class="flex flex-col mt-9">
        
        <input asp-for="Username" class="p-3 rounded-xl w-full bg-gray-100" placeholder="Username *">
        <span asp-validation-for="Username" class="text-xs text-red-500 mb-2"></span>

        <input asp-for="Password" class="p-3 rounded-xl w-full mt-5 bg-gray-100" placeholder="Password *">
        <span asp-validation-for="Password" class="text-xs text-red-500"></span>
        
      </div>
      
      <div class="mt-5 flex flex-col">
        <a href="#" class="text-sm text-blue-500 mb-2 font-bold">Forgot password?</a>
        <div class="text-sm">New to Social Network? <a class="text-blue-500 font-bold cursor-pointer" asp-controller="Login" asp-action="Register">Sign Up</a></div>
      </div>
      
      <div class="mt-9">
        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-xl">Log in</button>
      </div>
    </form>
  </div>
  <!-- LOG IN -->

  <div class="bg-white h-screen"></div>
    
</div>