@using Microsoft.AspNetCore.Http;
@using static Core.Application.SessionHelper;
@using Core.Application;
@inject IHttpContextAccessor iHttpContext;
@{
  UserProfileViewModel userSession = iHttpContext.HttpContext.Session.Get<UserProfileViewModel>("userProfile");
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - WebApp.Gui</title>
  <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/GoUp.css">
</head>

<body class="bg-slate-300">

  <!-- NAVBAR -->
  <div class="w-full flex items-center justify-center border border-1 bg-white sticky top-0 z-40 p-1">
    <div class="w-full flex flex-row justify-between items-center">

      @* Logo *@
      <div class="ml-1 w-fit flex items-center justify-around flex-1">
        <div class="flex-1">
          <a class="text-xl font-bold" asp-controller="Home" asp-action="Index">
            S<span class="hidden lg:inline">ocial</span>
            <span class="text-orange-500 text-xl">
              N<span class="hidden lg:inline">etwork</span>
            </span>
          </a>
        </div>
        <div
          class="mr-3 p-1 justify-between items-center flex-1 hover:outline outline-1 outline-slate-300 hidden xl:flex">
          <a href="#" class="">
            <i class="ri-home-4-line text-xl font-normal">
            </i>
            Home
          </a>
          <a class="inline mx-2" asp-controller="Home" asp-action="Index"><i
              class="ri-arrow-down-s-line min-[600px]:text-2xl text-3xl"></i></a>
        </div>
      </div>

      @* Search bar *@
      <div class="w-20 sm:w-72 xl:w-6/12 min-[810px]:mr-5 min-[420px]:pr-3:pl-3 flex-1 hidden min-[600px]:inline">
        <input type="search" class="bg-gray-100 py-1 rounded-full w-full px-3 text-sm" />
      </div>
      @* Search bar *@

      <div class="flex items-center justify-end w-fit flex-1">
        <a class="min-[600px]:hidden inline mx-2" asp-controller="Home" asp-action="Index"><i
            class="ri-search-line  text-2xl"></i></a>
        @if (userSession != null)
        {
          <!-- Messages -->
          <div class="">
            <a href="#">
              <i class="ri-chat-3-line text-2xl"></i>
            </a>
          </div>
          <!-- Alerts -->
          <div class="ms-2">
            <a href="#">
              <i class="ri-notification-3-line text-2xl"></i>
            </a>
          </div>
          <!-- Create a post -->
          <div class="ms-2">
            <a asp-controller="Post" asp-action="Index">
              <i class="ri-add-circle-line text-2xl"></i>
            </a>
          </div>
        }
        <div class="ml-1">
          <div class="flex items-center justify-evenly">
            @if (userSession != null)
            {
              <button id="openModal"
                      class="w-fit px-4 mr-2 bg-transparent flex items-center justify-evenly hover:outline outline-1 outline-slate-300">

                <img src="~/@userSession.ProfilePicturePath" alt="profile picture"
                     class="w-10 h-10 rounded-full ml-2 min-[600px]:mr-2"/>
                <div class="flex items-start flex-col justify-evenly mr-2 ">
                  <p class="hidden min-[950px]:inline text-sm font-bold">@userSession.UserName</p>
                  <span class="text-sm hidden 2xl:inline">0 Karma</span>
                </div>

                <i class="ri-arrow-down-s-line text-xl"></i>

              </button>

              <!-- Modal -->
              <div id="myModal" class="modal hidden top-7 fixed min-[1280px]:top-9 right-0 m-4 bg-white border border-gray-200 rounded">

                <!-- Contenido del modal -->
                <div class="modal-content">

                  <div class="w-60">
                    <div class="border-b pb-2 border-1  border-gray-200 flex flex-col">
                      
                      <a class="font-semibold text-stone-950 flex items-center hover:bg-slate-100 p-2" asp-controller="Home" asp-action="Index">
                        <i class="ri-home-smile-line text-xl mr-1 ml-4"></i>
                        <span class="text-sm">Home</span>
                      </a>
                      
                      <a href="#" class="font-semibold text-stone-950 flex items-center hover:bg-slate-100 p-2">
                        <i class="ri-fire-fill text-xl mr-1 ml-4 text-orange-600"></i>
                        <span class="text-sm">Popular</span>
                      </a>
                      
                      <a asp-controller="Profile" asp-action="Index" class="font-semibold text-stone-950 text-sm hover:bg-slate-100 pl-12 p-2">Profile</a>
                      
                    </div>
                    
                    <div class="flex flex-col items-start justify-center">
                      
                      <a class="font-semibold text-stone-950 flex items-center hover:bg-slate-100 p-2 w-full" asp-controller="Login"
                         asp-action="LogOut">
                        <i class="ri-login-box-line text-xl mr-1 ml-4"></i>
                        <span class="text-sm">Log out</span>
                      </a>
                      
                    </div>
                    
                  </div>

                </div>
              </div>
            }
            @if (userSession == null)
            {
              <a class="p-2 ms-2 font-bold bg-transparent text-orange-500 border border-orange-500 cursor-pointer rounded-full text-sm"
                asp-controller="Login" asp-action="Index">
                Log in
              </a>
            }
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- NAVBAR -->
  
  <main role="main">
    @RenderBody()
  </main>

  <!-- FOOTER -->
  <footer class="border-top footer text-muted">
    <div class="container">

    </div>
  </footer>
  <!-- FOOTER -->
  
  <!-- BACK TO TOP BUTTON -->
  <button onclick="volverArriba()" id="volver-arriba" class="px-5 py-1 rounded-full">
    <span class="hidden min-[600px]:inline">Back to Top</span>
    <span class="inline min-[600px]:hidden"><i class="ri-arrow-up-fill text-2xl"></i></span>
  </button>

  <script src="~/js/GoUp.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var modal = document.getElementById('myModal');
    var openModalButton = document.getElementById('openModal');
    var closeModalButton = document.getElementById('closeModal');

    if (openModalButton) {
      openModalButton.addEventListener('click', function (event) {
        event.stopPropagation();
        if (modal) {
          // Si el modal ya está visible, ocultarlo
          if (!modal.classList.contains('hidden')) {
            modal.classList.add('hidden');
          } else {
            modal.classList.remove('hidden');
            // Agregar un escuchador de clic al documento para cerrar el modal si se hace clic fuera de él
            document.addEventListener('click', closeModalOutside);
          }
        }
      });
    }

    if (closeModalButton) {
      closeModalButton.addEventListener('click', function () {
        if (modal) {
          modal.classList.add('hidden');
          // Remover el escuchador de clic al cerrar el modal
          document.removeEventListener('click', closeModalOutside);
        }
      });
    }

    // Función para cerrar el modal si se hace clic fuera de él
    function closeModalOutside(event) {
      if (modal && !modal.contains(event.target)) {
        modal.classList.add('hidden');
        document.removeEventListener('click', closeModalOutside);
      }
    }
  </script>

  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>