@using Microsoft.AspNetCore.Http;
@using static Core.Application.SessionHelper;
@using Core.Application;
@inject IHttpContextAccessor iHttpContext;
@{
  UserProfileViewModel userSession = iHttpContext.HttpContext.Session.Get<UserProfileViewModel>("userProfile");
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - WebApp.Gui</title>
  <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/GoUp.css">
</head>

<body class="bg-slate-300">

  <!-- NAVBAR -->
  @await Component.InvokeAsync("Navbar")
  <!-- NAVBAR -->
  
  <main role="main">
    @RenderBody()
  </main>

  <!-- FOOTER -->
  <footer class="border-top footer text-muted">
    <div class="container">

    </div>
  </footer>
  <!-- FOOTER -->
  
  <!-- BACK TO TOP BUTTON -->
  <button onclick="volverArriba()" id="volver-arriba" class="px-2 rounded-full">
    <span class="hidden min-[600px]:inline text-sm">Back to Top</span>
  </button>

  <script src="~/js/GoUp.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var modal = document.getElementById('myModal');
    var openModalButton = document.getElementById('openModal');
    var closeModalButton = document.getElementById('closeModal');

    if (openModalButton) {
      openModalButton.addEventListener('click', function (event) {
        event.stopPropagation();
        if (modal) {
          // Si el modal ya está visible, ocultarlo
          if (!modal.classList.contains('hidden')) {
            modal.classList.add('hidden');
          } else {
            modal.classList.remove('hidden');
            // Agregar un escuchador de clic al documento para cerrar el modal si se hace clic fuera de él
            document.addEventListener('click', closeModalOutside);
          }
        }
      });
    }

    if (closeModalButton) {
      closeModalButton.addEventListener('click', function () {
        if (modal) {
          modal.classList.add('hidden');
          // Remover el escuchador de clic al cerrar el modal
          document.removeEventListener('click', closeModalOutside);
        }
      });
    }

    // Función para cerrar el modal si se hace clic fuera de él
    function closeModalOutside(event) {
      if (modal && !modal.contains(event.target)) {
        modal.classList.add('hidden');
        document.removeEventListener('click', closeModalOutside);
      }
    }
  </script>

  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>